/*CSS*/

#Menu
{
float:center;
-webkit-border-radius: 20px;
background: rgba(0, 0, 0, 0.09);
-webkit-margin-before: 10px;
border-width: 2px;
border-style: solid;
}
#Titulo
{
font-family:"Arial";
font-size:40px;
text-shadow:1px 1px 10px rgba(255, 143, 0, 0.77);
}
#canvas
{
border-width: 2px;
border-style:solid;
background:rgba(0, 0, 0, 0.09);
visibility:hidden;
-webkit-margin-start: 350px;
-webkit-margin-before: 10px;
}
#infos
{
border-width: 2px;
border-style:solid;
background:rgba(0, 0, 0, 0.09);
visibility:hidden;
-webkit-margin-before: 10px;
-webkit-margin-start: 350px
}
#posicionar
{
visibility:hidden;
}
#gerardesafio
{
visibility:hidden;
}
#Ini
{
-webkit-margin-before: 10px;
}
#respostas
{
  visibility:hidden;
}
#Mostrar
{
  visibility:hidden;
}
body
{
background: rgba(200, 236, 202, 0.66);
}
.button 
{
  display: inline-block;
  outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
        width: 200px;
}
.button:hover 
{
	text-decoration: none;
}
.button:active 
{
	position: relative;
	top: 1px;
}

.orange 
{
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover 
{
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active 
{
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.caixa
{
width: 150px;
border:none;
background:transparent;
}

.blur-animasi1 
{
-webkit-transition: all 0.5s ease-in-out;
-webkit-filter: blur(10px);
}
.blur-animasi1:hover 
{
-webkit-filter: blur(0px);
}
.centralizado
{
   position:fixed; 
   bottom:10%; 
   right:30%;
   left:30%;
   top:10%;
   z-index:99;
   width: 500px;
   height: 500px;
   background: rgba(0, 0, 0, 0.09);
   border-style: dotted;
}
.fechar
{
   position:fixed;
   right:30.5%;
   top:7%;
   z-index:99;
   border: none;
   background: rgba(0, 0, 0, 0.09);
   border-style: dotted;  
}
#centralizado1
{
  width: 400px;
  height: 400px;
  background: #FFF;
  margin-top:50px;
}
